<h5>Eleições</h5>
<hr>

<button class="btn btn-success incluir" [routerLink]="['nova-eleicao']">Incluir Eleição</button>
<div *ngIf="carregando">Carregando...</div>
<table class="table table-striped" *ngIf="!carregando">
  <thead>
    <th>Código</th>
    <th>Nome</th>
    <th>Data da Eleição</th>
    <th>Qtde. Eleitores</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let eleicao of eleicoes">
      <td>{{eleicao._id}}</td>
      <td>{{eleicao.nome}}</td>
      <td>{{eleicao.dataEleicao | date: 'dd/MM/yyyy'}}</td>
      <td>{{eleicao.quantidadeEleitores}}</td>
      <td>
        <button type="button" class="btn btn-sm btn-primary action" [routerLink]="[eleicao._id]">Editar</button>
        <button type="button" class="btn btn-sm btn-primary action" [routerLink]="[eleicao._id, 'impressao']">Imprimir</button>
      </td>
    </tr>
  </tbody>
</table>