<h5>Candidatos</h5>
<hr>

<button class="btn btn-success incluir" (click)="abrirModalCandidato('')">Incluir Candidato</button>
<div *ngIf="carregando">Carregando...</div>
<table class="table table-striped" *ngIf="!carregando">
  <thead>
    <th>Matrícula</th>
    <th>Nome</th>
    <th>Apelido</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let candidato of candidatos">
      <td>{{candidato.matricula}}</td>
      <td>{{candidato.nome}}</td>
      <td>{{candidato.apelido}}</td>
      <td>
        <button type="button" class="btn btn-sm btn-primary action" (click)="abrirModalCandidato(candidato._id)">Editar</button>
      </td>
    </tr>
  </tbody>
</table>