<div class="modal-header">
  <h4 class="modal-title">Candidatos - {{cargo.nome}} - {{nomeEleicao}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="fechar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="carregando">Carregando...</div>
<div class="modal-body" *ngIf="!carregando">
  <div class="row" *ngIf="!cargo.dataInicioVotacao">
    <div class="col">
      <div class="form-group">
        <label>Digite o nome do candidato e selecione para incluir:</label>
        <input type="text" class="form-control" [disabled]="carregando" [ngbTypeahead]="search" (selectItem)="onCandidatoSelecionado($event)">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <th>Matrícula</th>
          <th>Nome</th>
          <th>Votos</th>
          <th>Status</th>
          <th class="d-print-none"></th>
        </thead>
        <tbody>
          <tr *ngFor="let candidato of candidatosCargo">
            <td>{{candidato.candidato.matricula}}</td>
            <td>{{candidato.candidato.nome}}</td>
            <td>{{candidato.votos || 0}}</td>
            <td>
              <span *ngIf="candidato.eleitoNesseCargo">Eleito</span>
              <span *ngIf="candidato.eleitoEmOutroCargo">Eleito em outro cargo</span>
              <span *ngIf="candidato.recusouCargo">Recusou o cargo</span>
            </td>
            <td class="d-print-none">
              <button *ngIf="!cargo.dataInicioVotacao" type="button" class="btn btn-danger" (click)="excluir(candidato._id)">Excluir</button>
              <button *ngIf="cargo.dataFimVotacao && !candidato.eleitoEmOutroCargo && !candidato.eleitoNesseCargo && !candidato.recusouCargo" type="button" class="btn btn-success action" (click)="aceitarCargo(candidato)">Aceitar</button>
              <button *ngIf="cargo.dataFimVotacao && !candidato.eleitoEmOutroCargo && !candidato.eleitoNesseCargo && !candidato.recusouCargo" type="button" class="btn btn-danger action" (click)="recusarCargo(candidato)">Recusar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-success" (click)="adicionarTodos()">Adicionar todos os candidatos cadastrados</button>
  <button type="button" class="btn btn-outline-dark" (click)="fechar()">Cancelar</button>
</div>