.dados-votacao {
    text-align: center;
    margin-top: 32px;
}

.candidato {
    margin-top: 16px;
}

.foto-candidato {
    width: 100%;
    margin-bottom: 4px;
    border-width: 1px;
    border: solid;
    border-color: silver;

    @media only screen and (min-width: 1200px) {
        width: 200px;
    }
}

.numero {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100% !important;
    text-align: center;
}

.numero-inserido {
    width: 100%;
    font-weight: 900;
    text-align: center;
}

.info-candidato {
    color: blue;
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
  }