<div class="row dados-votacao">
  <div class="col">
    <p>
      <strong class="h2">Eleição: </strong>
      <span class="h2">{{eleicao?.nome}}</span>
    </p>
    <p>
      <strong class="h2">Votação: </strong>
      <span *ngIf="!cargo" class="h2">[Nenhum cargo aberto para votação, aguarde a atualização automática...]</span>
      <span *ngIf="cargo" class="h2">{{cargo?.nome}}</span>
    </p>
  </div>
</div>

<div class="row candidato">
  <div class="col">
    <img *ngIf="candidatoSelecionado && candidatoSelecionado.candidato.foto" class="foto-candidato" [src]="fotoUrl + candidatoSelecionado?.candidato?.foto">
    <img *ngIf="!candidatoSelecionado || !candidatoSelecionado.candidato.foto" class="foto-candidato" [src]="fotoUrl + 'person-icon.png'">
  </div>
  <div class="col">
    <div class="row">
      <strong class="h2">Candidato:</strong>
      <span class="h2 info-candidato">{{candidatoSelecionado?.candidato?.nome}} {{!candidatoSelecionado?.candidato?.apelido ? '' : '(' + candidatoSelecionado?.candidato?.apelido + ')'}} </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <label class="numero-inserido" class="h1 numero">{{numeroInserido || "&nbsp;"}}</label>
  </div>
</div>

<div class="row">
  <div class="col-4" *ngFor="let numero of numeros">
    <button class="numero btn btn-primary btn-lg disable-dbl-tap-zoom"  (click)="onNumeroInserido(numero.toString())">{{numero}}</button>
  </div>
  <div class="col-4">
    <button class="numero btn btn-primary btn-secondary btn-lg" (click)="limpar()">Limpar</button>
  </div>
  <div class="col-4">
    <button class="numero btn btn-success btn-lg" (click)="confirmarVoto()" [disabled]=" processandoVoto || !candidatoSelecionado">Confirmar</button>
  </div>
</div>