<div class="row dados-votacao" *ngIf="!exibeVotoRegistrado">
  <div class="col">
    <p>
      <strong>Eleição: </strong>
      <span>{{eleicao?.nome}}</span>
    </p>
    <p>
      <strong>Votação: </strong>
      <span></span>
    </p>
  </div>
</div>

<ng-container *ngIf="!exibeVotoRegistrado">
  <div *ngFor="let candidato of votacao.candidatos" class="row candidato">
    <hr>
    <div class="col">
      <img class="foto-candidato" [src]="candidato.foto" alt="Foto do candidato" />
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <span class="nome-candidato">{{candidato.nome}}</span>
          <span class="apelido-candidato" *ngIf="candidato.apelido"> ({{candidato.apelido}})</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Matrícula: {{candidato._id}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-success btn-acao-votacao btn-selecionar" 
                  [disabled]="processandoVoto || candidatoSelecionado === candidato._id"
                  (click)="selecionarCandidato(candidato._id)">
                  Selecionar
          </button>
          <button class="btn btn-success btn-acao-votacao" 
                  [disabled]="processandoVoto || candidatoSelecionado !== candidato._id"
                  (click)="confirmarVoto()">
                  Confirmar voto
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="exibeVotoRegistrado">
 <div class="voto-registrado">
    Voto Registrado! 
 </div>
</ng-container>