<div class="row dados-votacao">
  <div class="col">
    <p>
      <strong>Eleição: </strong>
      <span>{{eleicao?.nome}}</span>
    </p>
    <p>
      <strong>Votação: </strong>
      <span *ngIf="!cargo">[Nenhum cargo aberto para votação, aguarde a atualização automática...]</span>
      <span *ngIf="cargo">{{cargo?.nome}}</span>
    </p>
  </div>
</div>

<div class="row candidato">
  <div class="col">
    <img *ngIf="candidatoSelecionado && candidatoSelecionado.candidato.foto" class="foto-candidato" [src]="fotoUrl + candidatoSelecionado?.candidato?.foto">
    <img *ngIf="!candidatoSelecionado || !candidatoSelecionado.candidato.foto" class="foto-candidato" [src]="fotoUrl + 'person-icon.png'">
  </div>
  <div class="col">
    <div class="row">
      <strong>Codigo:</strong>
      <span>{{candidatoSelecionado?.candidato?.matricula}}</span>
    </div>
    <div class="row">
      <strong>Candidato:</strong>
      <span>{{candidatoSelecionado?.candidato?.nome}} {{!candidatoSelecionado?.candidato?.apelido ? '' : '(' + candidatoSelecionado?.candidato?.apelido + ')'}} </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <label class="numero-inserido">{{numeroInserido || "&nbsp;"}}</label>
  </div>
</div>

<div class="row">
  <div class="col-4" *ngFor="let numero of numeros">
    <button class="numero btn btn-primary btn-lg" (click)="onNumeroInserido(numero.toString())">{{numero}}</button>
  </div>
  <div class="col-4">
    <button class="numero btn btn-primary btn-secondary btn-lg" (click)="limpar()">Limpar</button>
  </div>
  <div class="col-4">
    <button class="numero btn btn-success btn-lg" [disabled]="!candidatoSelecionado">Confirmar</button>
  </div>
</div>