.dados-votacao {
    text-align: center;
    margin-top: 32px;
    font-size: 5vw;
}

.foto-candidato {
    width: 100%;
    margin-bottom: 4px;
}


.voto-registrado {
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.numero {
    margin-bottom: 16px;
    width: 100% !important;
}

.numero-inserido {
    width: 100%;
    font-weight: 900;
    font-size: 9vw;
    text-align: center;
}