<h5>{{nomeEleicao}}</h5>
<hr>

<div *ngIf="carregando">Carregando...</div>
<div class="row" [formGroup]="formGroup" *ngIf="!carregando">
  <div class="col-lg-2 col-md-6">
    <div class="form-group">
      <label for="_id">Código</label>
      <input type="text" id="_id" formControlName="_id" class="form-control">
    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" id="nome" formControlName="nome" class="form-control">
    </div>
  </div>
  <div class="col-lg-2 col-md-6">
    <div class="form-group">
      <label for="dataEleicao">Data da Eleição</label>
      <input type="date" id="dataEleicao" formControlName="dataEleicao" class="form-control">
    </div>
  </div>
  <div class="col-lg-2 col-md-6">
    <div class="form-group">
      <label for="quantidadeEleitores">Qtde. Eleitores</label>
      <input type="number" id="quantidadeEleitores" formControlName="quantidadeEleitores" class="form-control">
    </div>
  </div>
</div>

<div class="row" *ngIf="!carregando">
  <div class="col">
    <button id="btn-salvar-eleicao" type="button" class="btn btn-lg btn-success" (click)="salvar()" [disabled]="processando">Salvar Alterações</button>
  </div>
</div>

<ng-container *ngIf="id">
  <h6>Cargos</h6>
  <hr>

  <button id="btn-incluir-cargo" class="btn btn-outline-success" (click)="abrirModalCargo('')">Incluir Cargo</button>
  <div *ngIf="carregandoCargos">Carregando...</div>
  <table class="table table-striped" *ngIf="!carregandoCargos">
    <thead>
      <th>Nome do Cargo</th>
      <th>Vagas</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let cargo of cargos">
        <td>{{cargo.nome}}</td>
        <td>{{cargo.vagas}}</td>
        <td>
          <button type="button" class="btn btn-sm btn-primary action" (click)="abrirModalCargo(cargo._id)">Editar</button>
          <button type="button" class="btn btn-sm btn-primary action">Candidatos</button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>