@import '~bootstrap/dist/css/bootstrap.min.css';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


@import '~ngx-toastr/toastr';

.ng-invalid.ng-dirty, .ng-invalid.ng-touched {
    border-color: red;
}

button.action {
    margin-left: 4px;
}

button.incluir {
    margin-bottom: 12px;
}

#ngb-live {
    display: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }