@import '~bootstrap/dist/css/bootstrap.min.css';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


@import '~ngx-toastr/toastr';

.ng-invalid.ng-dirty, .ng-invalid.ng-touched {
    border-color: red;
}

button.action {
    margin-left: 4px;
}

button.incluir {
    margin-bottom: 12px;
}